<ion-header>
  <ion-toolbar>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="main-image-container">
      <img class="main-image" src="../../assets/logo.png" alt="" >
        <p class="main-heading hello_sunshine">Pettie</p>
      <div class="main-btn-container">
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mật khẩu</ion-label>
    <ion-input type="password" ></ion-input>
  </ion-item>

  <ion-button color="primary">Đăng nhập</ion-button>
</div> 
</div>
</div>
</ion-content>
