<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Trang chủ</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="main-image-container">
      <img class="main-image" src="../../assets/logo.png" alt="">
        <p class="main-heading hello_sunshine">Welcome to Pettie</p>
      <div class="main-btn-container">
        <ion-button color="primary">Bắt đầu</ion-button>
        <ion-button color="danger">Đăng nhập</ion-button>
      </div> 
    </div>
  </div>

</ion-content>
